
header .container {

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

img {
    border-radius: 50%;
    height: 10rem;
    mix-blend-mode: multiply;
    
    
}

    .hero {
        background-image: url('../assets/images/logo-2.gif');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15rem;
        mix-blend-mode: multiply;
        height: 15rem;
        display: flex;
        padding-bottom: 1rem;
        width: 100%;

        h1 {
            padding: 1rem 0 0;
            text-align: center;
            width: 100%;
        }
       
    }


}