
#sobre {
    background-color: none;
    .container {
        background-color: rgba(0, 0, 0, .1);
        border-radius: .5rem;
        margin: 1rem auto;
        padding: 0 1rem 1rem;
        text-align: justify;
        border-bottom: double;
        box-sizing: border-box;
    }

    article {
        
        p {
            font-size: $font-size-default;
            color: $font-color-primary;
        }
    }
}