@media only screen and (max-width: 600px) and (min-width: 320px) {

    body {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
    }
    
    article h1{
        text-align: center;
    }

    .vitrine {
        grid-template-columns: 300px;
        grid-template-rows: 400px 400px 400px 400px;
        justify-content: center;
    }

    .steps {
        display: grid;
        justify-content: center;
        
      
    }


}


@media only print {

    html, body {
        margin: 0;
        padding: 0;
    }

    
    header, footer, #como-funciona, .vitrine__button{
        display: none;
    }

    .vitrine__desc {
        text-align: center;
    }

}