$color-primary: #7924b95c;
$color-secondary:#FFFFFF ;
$font-color-primary: rgba(255, 255, 255, 0.836);
$font-color-secondary: #000000;
$font-default: Arial, Helvetica, sans-serif;
$font-size-default: 1.5rem;
$font-size-nav: 1.7rem;

@import 'fonts';
@import url('https://fonts.googleapis.com/css2?family=Fruktur&display=swap');
@import 'nav';


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #6928af 0%, #ab7dd9 39%, #19a1bd 100%);
    font-family: $font-default;
    margin: 0;
}

h1 {
    color: $font-color-primary;
    text-align: center;
    margin-top: 4rem;
}

article {

    h1 {
        color: $font-color-secondary;
        font-size: 1.8rem;
        text-align: left;
    }

}

h2 {
    color: $font-color-primary;
    font-family: 'freshman', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 1rem;
    text-shadow: 1px 2px 8px $color-secondary;
}

#root,
header,
section,
footer {
    display: block;
    float: left;
    width: 100%;
}

section {
    padding: 2rem 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: column;
    margin: 1rem auto;
    max-width: 90vw;

    @media (max-width: 768px){
        max-width: 98%;

    }
    @media(min-width: 1024px){

    }

}

@import 'animations';
@import 'header';
@import 'sobre';
@import 'produtos';
@import 'vitrine';
@import 'steps';
@import 'footer';
@import 'responsive';